.btn-white {
  color: white;
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 4px;
  transition: 0.5s ease;
}

.btn-white:hover {
  text-decoration: none;
  background: white;
  color: black;
}

.btn-banner {
  margin-top: 40px;
}

