.img-footer img {
  width: 100%;
  border-radius: 4px;
  margin-top: 22px;
}

.information-footer p {
  color: white;
  font-size: 20px;
  margin: 10px 0;
}

.information-footer a {
  color: white;
  font-size: 20px;
  transition: 0.5s ease;
}

.information-footer a:hover {
  text-decoration: none;
  color:#CD533B;
}

.information-footer i {
  margin-right: 10px;
}

.rs-footer {
  margin: 10px 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 330px;
}
