.wrapper-horaire {
  color: white;
  padding: 40px 0;
  background-size: cover;
  background-position: center;
}
.img-horaire img {
  width: 100%;
  border-radius: 4px;
}

.days-open {
  font-size: 24px;
}

.title-home {
  font-size: 40px;
}

.effect-css {
  height: 400px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
