nav {
  background-size: cover;
  background-position: top;
}
.navbar{
  padding: 10px 20px !important;
  height: 90px;
  max-width: 1140px;
  margin: 0 auto;
}

.navbar img {
  height: 70px;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  color: black;
  font-size: 22px;
  transition: 0.5s ease;
}

.navbar a:hover {
  text-decoration: none;
  color: red;
  /*opacity: red;*/
}
.btn-nav {
  margin-right: 20px;
}
