.navbar{
  padding: 10px 20px !important;
  margin:0;
  height: 90px;
  background-size: cover;
  background-position: top;
}

.navbar img {
  height: 70px;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  color: black;
  font-size: 22px;
}

.btn-nav {
  margin-right: 20px;
}
