@import "components/navbar.css";
@import "components/banner.css";
@import "components/btn.css";
@import "components/horaire.css";
@import "components/paralaxe.css";
@import "components/produits.css";
@import "components/footer.css";

/*@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Rye&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Smokum&display=swap');*/

body,header,nav,h1,h2,h3 {
  margin:0 !important;
  padding:0 !important;
  /*font-family: 'Grenze', serif !important;*/
  font-family: 'Rye', cursive !important;
  /*font-family: 'Smokum', cursive !important;*/
}

body {
  /*overflow: hidden;*/
}

.margin-top {
  margin-top: 40px;
}

/*Tablette ----------------> */
@media screen and (max-width:995px) {
  /*Banner*/
  .banner-content h2{
    font-size: 48px;

  }

  /*Horaire*/
  .responsive-horaire {
    text-align: center;
  }

  /*Paralaxe*/
  /*.paralaxe h2{
    font-size: 40px;
  }*/
  .paralaxe p{
    font-size: 56px;
  }

  .responsive-paralaxe {
    margin-top: 170px !important;
  }
}

@media screen and (max-width:766px) {
  .paralaxe h2{
    font-size: 40px;
  }

  /*Banner*/
  .banner-content h2{
    font-size: 40px;

  }

  /*Horaire*/
  .responsive-horaire {
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    height: 130px;
  }
  .information-footer p {
    font-size: 16px;
  }

  .information-footer a {
    font-size: 16px;
  }
  .img-footer {
    margin-bottom: 40px;
  }

  .responsive-img-produit {
    margin-top: 40px;
  }
}
@media screen and (max-width:575px) {
  .paralaxe {
    margin-top: 80px !important;
    text-align: center;
  }

  .banner-content {
    margin: 0 10px;
  }
  .navbar a{
    font-size: 18px;
  }
}
